.pass {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    text-align: center;
  }

  &_table {
    table-layout: auto;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;

    .t-h {
      background-color: $secondary-color;

      &_r {
        height: 3rem;

        th {
          color: $primary-color;
        }
      }
    }

    .t-b {
      background-color: darken($color: $secondary-color, $amount: 40%);
      &_r {
        height: 2rem;
      }
    }
  }

  tr {
    text-align: center;
  }

  td {
    min-width: 14rem;
    img {
      margin: 0 0.5rem;
      height: 1rem;
      filter: invert(1);
      cursor: pointer;
      transition: filter 0.2s ease;
      &.copied {
        filter: invert(
          0
        ); // Flips back to original colors for your right.png icon
      }
    }
  }
}
