@import "config";
@import "navbar";
@import "manager";
@import "btn";
@import "password";
@import "footer";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text-color;
  // height: 100vh;
}

.body {
  position: relative;
  background-color: $primary-color;
  overflow: hidden;
  box-sizing: border-box;
}
